body{
    height: 100%;
}

table {
    display: block;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 70vh;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.col {
    margin-right: 10px;
    margin-left: 10px;
}